{
  "SocksProxyPort": 10808,
  "HttpProxyPort": 10809,
  "ClientPlatform": "Windows_10.0.26200_11",
  "ClientVersion": "187",
  "DataRootDirectory": "/usr/bin/psiphon_data",
  "EgressRegion": "US",
  "PropagationChannelId": "0000000000000000",
  "SponsorId": "0000000000000000",
  "ServerEntrySignaturePublicKey": "sHuUVTWaRyh5pZwy4UguSgkwmBe0EHtJJkoF5WrxmvA=",
  "UseIndistinguishableTLS": true
}
